In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
gov_response = pd.read_csv('../data/covid-policy-dataset/data/timeseries_indices/OxCGRT_timeseries_GovernmentResponseIndex_v1.csv')

In [41]:
primary_cons = pd.read_excel('../data/Statistical Review of World Energy Data.xlsx'
                             ,sheet_name='Primary energy cons - EJ'
                             ,skiprows=range(0,2)
                            ,skipfooter=11)

In [43]:
primary_cons.rename(columns={'Exajoules':'Country'}, inplace=True)

In [37]:
gov_response_countries = gov_response[gov_response['Jurisdiction']=='NAT_TOTAL']

In [149]:
primary_cons

,Country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2017,2018,2019,2020,2021,2022,2023,2023.1,2013-23,2023.2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,5.000530,5.323648,5.566650,5.924125,6.283252,6.726828,6.937724,7.467379,8.109156,...,14.537442,14.724605,14.644261,13.758059,13.921114,14.299105,13.949592,-0.024443,-0.003149,0.022513
2,Mexico,1.055971,1.118099,1.139578,1.241153,1.362338,1.454515,1.529385,1.690486,1.823291,...,8.255752,8.154999,8.069090,7.350903,7.833220,8.183102,8.452957,0.032977,0.004594,0.013642
3,US,51.982924,54.890509,56.802742,60.189787,63.300323,65.541021,66.920432,70.250692,73.223262,...,92.965845,96.368354,95.682579,88.641533,93.444579,95.415497,94.281119,-0.011889,0.001776,0.152157
4,Total North America,58.039425,61.332256,63.508969,67.355064,70.945913,73.722364,75.387540,79.408556,83.155710,...,115.759039,119.247958,118.395931,109.750494,115.198913,117.897704,116.683669,-0.010297,0.001373,0.188312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,Thailand,0.110543,0.131737,0.150042,0.192498,0.203308,0.242185,0.268261,0.325536,0.345196,...,5.157658,5.322154,5.327082,4.952731,4.992516,4.996416,5.006924,0.002103,0.005784,0.008081
103,Vietnam,0.106038,0.185335,0.255387,0.264838,0.312805,0.326316,0.290969,0.282004,0.297637,...,3.469074,3.899785,4.329488,4.335817,4.350794,4.478643,4.891435,0.092169,0.074975,0.007894
104,Other Asia Pacific,0.723694,0.764733,0.826610,0.886221,0.938405,0.999461,1.094380,1.155096,1.189919,...,3.152431,3.275469,3.453018,3.551571,3.539151,3.700946,3.829196,0.034653,0.059727,0.006180
105,Total Asia Pacific,18.906461,20.728356,21.549497,23.129044,26.519975,30.363766,33.013451,35.296499,37.935615,...,241.102113,251.163959,259.375142,258.335748,272.154390,278.805862,291.773594,0.046512,0.028729,0.470885
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
gov_response_rotate = gov_response_countries[gov_response_countries['CountryName'].isin(primary_cons['Country'])].drop(columns=['CountryCode'
                                                                                                          ,'RegionCode'
                                                                                                          ,'RegionName'
                                                                                                          ,'CityCode'
                                                                                                          ,'CityName'
                                                                                                          ,'Jurisdiction']).transpose().reset_index()

In [139]:
primary_cons_rotate = primary_cons[primary_cons['Country'].isin(gov_response_countries['CountryName'])][['Country',2019,2020,2021,2022,2023]].reset_index(drop=True).transpose()

In [141]:
primary_cons_rotate.columns = primary_cons_rotate.iloc[0]

In [181]:
primary_cons_rotate = primary_cons_rotate.reset_index().drop(index=0).reset_index(drop=True).rename(columns={'index':'Year'}).apply(pd.to_numeric)

In [133]:
gov_response_rotate.columns = gov_response_rotate.iloc[0]

In [135]:
gov_response_rotate = gov_response_rotate.drop(index=0).rename(columns={'CountryName':'Date'}).reset_index(drop=True)

In [206]:
gov_num = gov_response_rotate.iloc[:,1:73].apply(pd.to_numeric)

In [210]:
gov_date = gov_response_rotate.iloc[:,0].apply(pd.to_datetime)

In [222]:
gov_num.insert(0,'Date',gov_date)

In [228]:
gov_num['Year'] = gov_num['Date'].dt.year

In [232]:
gov_num.groupby('Year').mean()

,Date,United Arab Emirates,Argentina,Australia,Austria,Azerbaijan,Belgium,Bangladesh,Bulgaria,Belarus,...,Slovenia,Sweden,Thailand,Turkmenistan,Turkey,Taiwan,Ukraine,Uzbekistan,Venezuela,Vietnam
Year,,,,,,,,,,,,,,,,,,,,,
2020,2020-07-01 12:00:00.000000000,48.205710,62.128415,53.106913,51.026612,55.140492,50.639071,52.299399,38.260164,26.192486,...,48.779727,43.847186,45.426503,27.016120,54.100820,33.241120,48.685656,45.947514,51.108497,49.950574
2021,2021-07-02 00:00:00.000000000,57.522055,64.954822,59.550411,74.182247,60.815315,62.796356,61.261342,55.931041,38.084301,...,62.009699,47.219288,57.975068,50.249205,55.950740,50.462932,55.798986,49.759041,69.743644,63.577589
2022,2022-07-01 23:59:59.999999744,40.630329,33.545534,33.130712,62.419918,45.541260,35.015890,34.123260,31.663370,18.610164,...,27.433918,19.702521,35.580959,40.971178,23.693918,46.575808,30.490849,26.165342,28.174384,44.821918
2023,2023-01-30 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
primary_cons_rotate

Country,Year,Year,Canada,Mexico,Argentina,Brazil,Chile,Colombia,Ecuador,Peru,...,Malaysia,New Zealand,Pakistan,Philippines,Singapore,South Korea,Sri Lanka,Taiwan,Thailand,Vietnam
0,1,2020,13.758059,7.350903,3.131383,12.219726,1.592920,1.845309,0.658305,1.036308,...,4.307145,0.861325,3.517981,1.849511,3.277865,12.049074,0.381602,4.650168,4.952731,4.335817
1,2,2021,13.921114,7.833220,3.450466,12.854411,1.716685,2.069083,0.765349,1.178669,...,4.487938,0.847978,3.901649,1.963837,3.278570,12.623430,0.394695,4.942589,4.992516,4.350794
2,3,2022,14.299105,8.183102,3.705772,13.435922,1.812619,2.196243,0.801823,1.216668,...,4.792605,0.835960,3.595340,2.055580,3.174647,12.752438,0.351276,4.747891,4.996416,4.478643
3,4,2023,13.949592,8.452957,3.671069,13.873373,1.814643,2.255347,0.843516,1.237765,...,4.807117,0.860885,3.372125,2.193169,3.470479,12.434021,0.357512,4.528818,5.006924,4.891435