In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
owid_df = pd.read_csv('../data/energy-data/owid-energy-data.csv')
gov_response = pd.read_csv('../data/covid-policy-dataset/data/timeseries_indices/OxCGRT_timeseries_GovernmentResponseIndex_v1.csv')

In [3]:
cov_compact = pd.read_csv('../data/covid-policy-dataset/data/OxCGRT_compact_national_v1.csv')

In [4]:
gov_response_countries = gov_response[gov_response['Jurisdiction']=='NAT_TOTAL']

In [5]:
gov_response_rotate = gov_response_countries[gov_response_countries['CountryName'].isin(owid_df['country'])].drop(columns=['CountryCode'
                                                                                                          ,'RegionCode'
                                                                                                          ,'RegionName'
                                                                                                          ,'CityCode'
                                                                                                          ,'CityName'
                                                                                                          ,'Jurisdiction']).transpose().reset_index()

In [6]:
gov_response_rotate.columns = gov_response_rotate.iloc[0]

In [7]:
gov_response_rotate = gov_response_rotate.drop(index=0).rename(columns={'CountryName':'Date'}).reset_index(drop=True)

In [8]:
gov_num = gov_response_rotate.iloc[:,1:].apply(pd.to_numeric)

In [9]:
gov_date = gov_response_rotate.iloc[:,0].apply(pd.to_datetime)

In [10]:
gov_num.insert(0,'Date',gov_date)

In [11]:
gov_num['Year'] = gov_num['Date'].dt.year

In [12]:
gov_mean = gov_num.groupby('Year').mean().reset_index().drop(columns='Date')

In [13]:
gov_melt = gov_mean.melt(id_vars=['Year'],value_vars=gov_mean.columns[1:]).rename(columns={0:'Country'})

In [68]:
owid_trim = owid_df[['country',
                     'year',
                     'coal_consumption',
                     'hydro_consumption',
                     'oil_consumption',
                     'nuclear_consumption',
                     'gas_consumption']]

In [86]:
owid_trim = owid_trim[(owid_trim['country'].isin(cov_mean['CountryName']))&
                    (owid_trim['year'].between(2019,2023))].rename(columns={'country':'CountryName',
                                                                            'year':'Year'})

In [94]:
owid_trim = owid_trim[owid_trim['gas_consumption'].notnull()]

In [96]:
cov_owid_merge = owid_trim.merge(cov_mean,how='outer',on=('CountryName','Year'))

In [102]:
cov_owid_merge = cov_owid_merge[cov_owid_merge['gas_consumption'].notnull()]

In [104]:
cov_owid_merge.to_csv('cov_owid_merge.csv',index=False)

In [19]:
cov_compact[cov_compact['CountryName'].isin(gov_owid_merge['Country'])]

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1M_School closing,C1M_Flag,C2M_Workplace closing,C2M_Flag,...,V3_Vaccine Financial Support (summary),V4_Mandatory Vaccination (summary),ConfirmedCases,ConfirmedDeaths,MajorityVaccinated,PopulationVaccinated,StringencyIndex_Average,GovernmentResponseIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200101,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200102,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200103,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200104,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,20200105,0.0,NaN,0.0,NaN,...,0,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202755,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20221227,1.0,1.0,2.0,1.0,...,5,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0
202756,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20221228,1.0,1.0,2.0,1.0,...,5,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0
202757,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20221229,1.0,1.0,2.0,1.0,...,5,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0
202758,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20221230,1.0,1.0,2.0,1.0,...,5,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0
202759,Zimbabwe,ZWE,NaN,NaN,NAT_TOTAL,20221231,1.0,1.0,2.0,1.0,...,5,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0

In [20]:
owid_df[['country',
        'year',
        'coal_consumption',
        'hydro_consumption',
        'oil_consumption',
        'nuclear_consumption',
        'gas_consumption']]

,country,year,coal_consumption,hydro_consumption,oil_consumption,nuclear_consumption,gas_consumption
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
21807,Zimbabwe,2019,NaN,NaN,NaN,0.0,NaN
21808,Zimbabwe,2020,NaN,NaN,NaN,0.0,NaN
21809,Zimbabwe,2021,NaN,NaN,NaN,0.0,NaN
21810,Zimbabwe,2022,NaN,NaN,NaN,0.0,NaN
21811,Zimbabwe,2023,NaN,NaN,NaN,0.0,NaN

In [21]:
owid_sub = owid_trim[(owid_trim['Year'].isin([2019,2021]))&(owid_trim['gas_consumption'].notnull())]

In [22]:
owid_trim_countries = owid_sub[['Country','Year']].drop(columns='Year')

In [23]:
owid_sub_2 = owid_sub.groupby('Country').diff().dropna().drop(columns='Year').reset_index()

In [30]:
owid_sub_2.merge(owid_trim_countries.reset_index(),how='inner',on='index')

,index,coal_consumption,hydro_consumption,oil_consumption,nuclear_consumption,gas_consumption,Country
0,757,-1.698,-0.377,-15.747,0.000,30.983,Algeria
1,1133,5.928,-21.089,29.059,4.182,-6.248,Argentina
2,1691,-33.945,4.759,-68.284,0.000,-44.813,Australia
3,1857,-3.783,-6.216,-12.986,0.000,1.150,Austria
4,1901,-0.006,-0.783,2.180,0.000,10.282,Azerbaijan
...,...,...,...,...,...,...,...
60,20366,-4.671,-1.513,-172.137,-26.853,-9.471,United Kingdom
61,20490,-213.566,-101.030,-418.698,-94.447,-145.750,United States
62,20819,4.898,-3.924,3.345,0.000,19.277,Uzbekistan
63,20986,-0.323,12.018,-89.298,0.000,24.829,Venezuela
64,21110,-1.431,31.579,-60.255,0.000,-26.441,Vietnam

In [32]:
owid_sub_2[['coal_consumption']]/2

    coal_consumption
0            -0.8490
1             2.9640
2           -16.9725
3            -1.8915
4            -0.0030
..               ...
60           -2.3355
61         -106.7830
62            2.4490
63           -0.1615
64           -0.7155

[65 rows x 1 columns]

In [34]:
cov_compact['Year'] = cov_compact['Date'].astype(str).str[:4]

In [52]:
cov_compact['Year'] = cov_compact['Year'].astype(int)

In [36]:
cov_compact.drop(columns=['CountryCode','RegionName','RegionCode','Jurisdiction','Date'])

,CountryName,C1M_School closing,C1M_Flag,C2M_Workplace closing,C2M_Flag,C3M_Cancel public events,C3M_Flag,C4M_Restrictions on gatherings,C4M_Flag,C5M_Close public transport,...,V4_Mandatory Vaccination (summary),ConfirmedCases,ConfirmedDeaths,MajorityVaccinated,PopulationVaccinated,StringencyIndex_Average,GovernmentResponseIndex_Average,ContainmentHealthIndex_Average,EconomicSupportIndex,Year
0,Aruba,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0,2020
1,Aruba,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0,2020
2,Aruba,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0,2020
3,Aruba,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0,2020
4,Aruba,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,0.0,NV,0.00,0.00,0.00,0.00,0.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202755,Zimbabwe,1.0,1.0,2.0,1.0,1.0,1.0,0.0,NaN,0.0,...,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0,2022
202756,Zimbabwe,1.0,1.0,2.0,1.0,1.0,1.0,0.0,NaN,0.0,...,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0,2022
202757,Zimbabwe,1.0,1.0,2.0,1.0,1.0,1.0,0.0,NaN,0.0,...,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0,2022
202758,Zimbabwe,1.0,1.0,2.0,1.0,1.0,1.0,0.0,NaN,0.0,...,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0,2022
202759,Zimbabwe,1.0,1.0,2.0,1.0,1.0,1.0,0.0,NaN,0.0,...,1.0,259981.0,5637.0,NV,29.11,29.48,36.44,41.65,0.0,2022

In [38]:
cov_compact_test = cov_compact[cov_compact.columns.drop(list(cov_compact.filter(regex='Flag')))]

In [46]:
cov_compact = cov_compact_test.drop(columns=['CountryCode',
                                             'RegionName',
                                             'RegionCode',
                                             'Jurisdiction',
                                             'Date',
                                             'V2B_Vaccine age eligibility/availability age floor (general population summary)',
                                            'V2C_Vaccine age eligibility/availability age floor (at risk summary)',
                                            'MajorityVaccinated'])

In [80]:
cov_mean = cov_compact.groupby(['CountryName','Year']).mean().reset_index()

In [82]:
cov_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 37 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   CountryName                                         555 non-null    object
 1   Year                                                555 non-null    int32
 2   C1M_School closing                                  555 non-null    float64
 3   C2M_Workplace closing                               555 non-null    float64
 4   C3M_Cancel public events                            555 non-null    float64
 5   C4M_Restrictions on gatherings                      555 non-null    float64
 6   C5M_Close public transport                          555 non-null    float64
 7   C6M_Stay at home requirements                       555 non-null    float64
 8   C7M_Restrictions on internal movement               555 non-null    float64
 9   C8EV_International travel controls                  555 non-null    float64
 10  E1_Income support                                   555 non-null    float64
 11  E2_Debt/contract relief                             555 non-null    float64
 12  E3_Fiscal measures                                  369 non-null    float64
 13  E4_International support                            369 non-null    float64
 14  H1_Public information campaigns                     555 non-null    float64
 15  H2_Testing policy                                   555 non-null    float64
 16  H3_Contact tracing                                  555 non-null    float64
 17  H4_Emergency investment in healthcare               368 non-null    float64
 18  H5_Investment in vaccines                           554 non-null    float64
 19  H6M_Facial Coverings                                555 non-null    float64
 20  H7_Vaccination policy                               555 non-null    float64
 21  H8M_Protection of elderly people                    555 non-null    float64
 22  V1_Vaccine Prioritisation (summary)                 555 non-null    float64
 23  V2A_Vaccine Availability (summary)                  555 non-null    float64
 24  V2D_Medically/ clinically vulnerable (Non-elderly)  422 non-null    float64
 25  V2E_Education                                       422 non-null    float64
 26  V2F_Frontline workers  (non healthcare)             422 non-null    float64
 27  V2G_Frontline workers  (healthcare)                 422 non-null    float64
 28  V3_Vaccine Financial Support (summary)              555 non-null    float64
 29  V4_Mandatory Vaccination (summary)                  348 non-null    float64
 30  ConfirmedCases                                      552 non-null    float64
 31  ConfirmedDeaths                                     552 non-null    float64
 32  PopulationVaccinated                                549 non-null    float64
 33  StringencyIndex_Average                             555 non-null    float64
 34  GovernmentResponseIndex_Average                     555 non-null    float64
 35  ContainmentHealthIndex_Average                      555 non-null    float64
 36  EconomicSupportIndex                                555 non-null    float64
dtypes: float64(35), int32(1), object(1)
memory usage: 158.4+ KB

In [84]:
cov_mean.to_csv('cov_mean.csv',index=False)

In [106]:
owid_cut = owid_df[['country',
                     'year',
                     'coal_consumption',
                     'hydro_consumption',
                     'oil_consumption',
                     'nuclear_consumption',
                     'gas_consumption']]

In [118]:
owid_cut[(owid_cut['country'].isin(cov_mean['CountryName']))&(owid_cut['gas_consumption'].notnull())].to_csv('owid_cut.csv',index=False)